{% extends "containerless_base_page.html" %}

{% block title %}
My Library | Welcome
{% endblock %}

{% block body %}
<div class="title-image">
  <div class="container vh-100">
    <div class="row h-100">
      <div class="col-12 my-auto">
        <div class="card cover-card offset-sm-2 offset-md-4 offset-lg-7">
          <h1 class="cover-heading">Welcome to My Library</h1>
          <p class="cover-text">"<i>{{slogan}}</i>"</p>
          <p>
            <a href="{% url 'list_books' %}" class="btn btn-lg btn-secondary">
              Continue...
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}